
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

.app{
  margin: 25pt 0;
}
.separator{
  height: 100pt;
}
.card{
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.card-header,
.card-footer{
  background-color: rgba(0, 0, 0, 0.04);
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Fira Sans', sans-serif;
}
